.hamburger {
    border: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 4px 2px;
}

.hamburger > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hamburger > div  span {
    display: flex;
    border-radius: 9rem;
    width: 100%;
    height: 3px;
    background-color: var(--navy-grey, #707991);
}