.boxContentInterlocutor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 12px 16px;
  gap: 16px;
  border-bottom: 1px solid var(--light-grey, #F5F5F5);;
}

.interlocutorContentImage {
  border-radius: 50%;
  object-fit: cover;
  width: 48px;
}

.interlocutorContentInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sectionHeader > time {
  color: var(--navy-grey, #707991);
  /* 12-Reg */
  /* font-family: Inter; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.interlocutorName {
  color: var(--rich-black, #011627);
  /* 16-Semi-Bold */
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.sectionHeader > small {
  font-size: 0.6rem;
}

.sectionMessage {
  margin-top: -2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sectionMessage > p {
  color: var(--navy-grey, #707991);

  /* 14-Reg */
  /* font-family: Inter; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.sectionMessage > i {
  width: 16px;
  height: 16px;
  flex-shrink: 0;

  color: #fff;
  background: var(--light-green, #78e378);
  border-radius: 50%;
  text-align: center;
  /* 12-Reg */
  /* font-family: Inter; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
